/* Honey Comb */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.hex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  padding: 0px 10px;
  top: -100px;
  position: relative;
    left: -60px;
}
.hex-container.mid{
  margin-left: -50px;
}
.honeycomb-container{
  height: 200px;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 80px;


}
.underdognexus{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.hidden{
   display: none;
}
.honeycomb-container:hover .underdognexus{
  display: block;
  z-index: 250;
  color: white;
  text-shadow: 4px 4px 4px #333;
  font-family: 'Share Tech', sans-serif;
  font-size: 2.75em;
  align-items: center;
  font-weight: 700;

}
.honeycomb-container:hover {

  box-shadow: inset 0px 0px 40px 30px #00efff80;
  cursor: pointer;
}
/*original*/
.hex.prime{
  margin: -5px 5px !important;
  position: relative;
  padding: .2%;
  top: 0;
  left: 0;
}
.hex {
  width: 89px;
  height: 89px;

  position: relative;
  margin: auto;
  top: 15%;
  left: 8%;
  padding: 2%;
}
.hex>svg.small{
  margin: auto;
  position: absolute;
  padding: 0;
  margin-left: 6px;
  margin-top: 3px;
}
.hex>svg.smaller{
  margin: auto;
  position: absolute;
  padding: 0;
  margin-left: 12px;
  margin-top: 6px;
}


.honeycomb-container:hover .hex.hexColor1,
.honeycomb-container:hover polygon.hexColor1{
  /* background-color: #5F9EA080;
  color: #5F9EA080; */
  fill:#5F9EA080;
}
.honeycomb-container:hover .hex.hexColor2,
.honeycomb-container:hover polygon.hexColor2{
  /* background-color: #5398A780;
  color: #5398A780; */
  fill: #5398A780;
}
.honeycomb-container:hover .hex.hexColor3,
.honeycomb-container:hover polygon.hexColor3{
  /* background-color: #487B8B80;
  color: #487B8B80; */
  fill:  #487B8B80;
}
.honeycomb-container:hover .hex.hexColor4,
.honeycomb-container:hover polygon.hexColor4{
  /* background-color: #3C5F7D80;
  color:#3C5F7D80; */
  fill:  #3C5F7D80;
}
.honeycomb-container:hover .hex.hexColor5,
.honeycomb-container:hover polygon.hexColor5{
  /* background-color:#2E475680;
  color: #2E475680; */
  fill:  #2E475680;
}


polygon.hexColor1,
.hex.hexColor1{
  /* background-color: #ffe97e;
  color: #ffe97e; */
  fill: #ffe97e;
}
polygon.hexColor2,
.hex.hexColor2{
  /* background-color: #FFEFD5;
  color: #FFEFD5; */
  fill: #FFEFD5;
}

polygon.hexColor3,
.hex.hexColor3{
  /* background-color: #FFD700;
  color: #FFD700; */
  fill: #FFD700;
}
polygon.hexColor4,
.hex.hexColor4{
  /* background-color: #FFC300;
  color: #FFC300; */
  fill: #FFC300;
}
polygon.hexColor5,
.hex.hexColor5{
  /* background-color: #FFCFA8;
  color: #FFCFA8; */
  fill: #FFCFA8;
}

.hex>span{
  position: absolute;
}
.hex>svg{
  position: absolute;
}
